<!DOCTYPE html>
<html>
<head>
    <style>
        .user {background-color: blue; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px; margin-left: 50%;}
        .nonuser {background-color: green; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px;}
    </style>
    <script>
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
        history.scrollRestoration = "manual";
        window.onload = scrollToBottom;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js"></script>
    <script>
        $(document).ready(function(){
        var socket = io.connect("http://localhost:5090");
        socket.on('connect', function(){
            socket.send("User connected")
        })
        socket.on('message', function(data){
            var name = {{current_user.name | tojson}};
            var date = new Date();
            var datesting = date.toLocaleString();
            if (name == data.name) {
                //$("#texts").append("<div class='user'><p>" + data.name + "|" + datestring + "</p><p>" + date.message + "</p></div>")
                $("#texts").append("<p>hi</p>")
            }else{
                $("#texts").append("<div class='nonuser'><p>" + data.name+ "|" + datestring + "</p><p>" + date.message + "</p></div>")
            }
        })
        $('#submit').on("click", function(){
            var name = {{current_user.name | tojson}}
            var data = {"name": name, "message": $('#message').val()}
            socket.send(data)
            console.log("clicked")
        })
        })
    </script>
</head>
<body style="background-color: black; color:white;">
    <h1>{{name}}</h1>
    <p>Description: {{description}}</p>
    <p> People: 
    {% for person in people %}
        <span>{{person.name}}</span>
    {% endfor %}
    </p> <button><a href="/chat/adduser/{{id}}">add user</a></button>
    <br><div id="messages"></div>
        <div id="texts">{% if texts %}
        {% for text in texts %}
            {% if text.authorname != current_user.name %}
                <br>
                <div style="background-color: green; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px;">
                <p>{{text.authorname}} | {{text.timestamp}}</p>
                <p>{{text.text}}</p>
                </div>
                <div style="background-color: #808080; width: 31%; border-radius: 25px; padding-left: 20px; margin-left: 40%;  margin-top:-20px">
                {% for reaction in text.reactions %}
                    <span>{{reaction.icon}}</span>
                {% endfor %}
                <form action="/chat/add-reaction/{{text.id}}" method="POST"><label>♥</label><input type="radio" name="reaction" value="♥"><label>👍</label><input type="radio" name="reaction" value="👍"><label>😭</label><input type="radio" name="reaction" value="😭"><label>👎</label><input type="radio" name="reaction" value="👎"><button type="submit">submit</button></form>
                </div>
            {% else %}
                <br>
                <div class="user">
                <p>{{text.authorname}} | {{text.timestamp}}</p>
                <p>{{text.text}}</p>
                </div>
                <div style="background-color: #808080; width: 31%; border-radius: 25px; padding-left: 20px; margin-left: 40%;  margin-top:-20px; text-align: right; padding-right: 20px;">
                {% for reaction in text.reactions %}
                    <span>{{reaction.icon}}</span>
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}</div>
    <form action="/chat/add-text/{{id}}" method="POST" id="form">
        <label>Enter text: </label>
        <input type="text" name="text" id="message">
        <button id="submit" type="submit">&spades;</button>
    </form>
    </body>
</html>