<!DOCTYPE html>
<html>
<head>
    <style>
        .user {background-color: blue; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px; margin-left: 50%;}
        .nonuser {background-color: green; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px;}
    </style>
    <script>
        function scrollToBottom() {
            window.scrollTo(0, document.body.scrollHeight);
        }
        history.scrollRestoration = "manual";
        window.onload = scrollToBottom;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect("http://127.0.0.1:5090");
        $(document).ready(function(){
            var data = {'id': {{id}}}
            socket.emit('join', data)
        })
        socket.on('message', function(data){ message = data.message; namem = data.name;
            var name = {{current_user.name | tojson}};
            var date = new Date().toLocaleString()
            if (name == data.name) {
                $("#texts").append(`<br><div class='user'><p> ${namem} | ${date}</p><p> ${message} </p></div>`)
            }else{
                $("#texts").append(`<br><div class='nonuser'><p> ${namem} | ${date}</p><p> ${message} </p></div>`)
            }
        })
        function sendmessage() {
            try{
            var name = {{current_user.name | tojson}}; var message = $('#message').val()
            var data = {"name": name, "message": message, "room":{{id}}};
            socket.emit("message", data=data) 
            console.log("sent?")
            } catch (err) {
                console.log(err)
            }
        } function testmessage(name, message){var data = {"message":message, "name":name, "id":"1"};socket.emit("message", data=data)}
    </script>
</head>
<body style="background-color: black; color:white;"><div id="main">
    <h1>{{name}}</h1>
    <p>Description: {{description}}</p>
    <p> People: 
    {% for person in people %}
        <span>{{person.name}}</span>
    {% endfor %}
    </p> <button><a href="/chat/adduser/{{id}}">add user</a></button>
    <br><div id="messages"></div>
        <div id="texts">{% if texts %}
        {% for text in texts %}
            {% if text.authorname != current_user.name %}
                <br>
                <div style="background-color: green; width: 50%; border-radius: 25px; padding-left: 20px; margin-top: 5px;">
                <p>{{text.authorname}} | {{text.timestamp}}</p>
                <p>{{text.text}}</p>
                </div>
                <div style="background-color: #808080; width: 31%; border-radius: 25px; padding-left: 20px; margin-left: 40%;  margin-top:-20px">
                {% for reaction in text.reactions %}
                    <span>{{reaction.icon}}</span>
                {% endfor %}
                <form action="/chat/add-reaction/{{text.id}}" method="POST"><label>♥</label><input type="radio" name="reaction" value="♥"><label>👍</label><input type="radio" name="reaction" value="👍"><label>😭</label><input type="radio" name="reaction" value="😭"><label>👎</label><input type="radio" name="reaction" value="👎"><button type="submit">submit</button></form>
                </div>
            {% else %}{% if text.authorname != "admin"%}
                <br>
                <div class="user">
                <p>{{text.authorname}} | {{text.timestamp}}</p>
                <p>{{text.text}}</p>
                </div>
                <div style="background-color: #808080; width: 31%; border-radius: 25px; padding-left: 20px; margin-left: 40%;  margin-top:-20px; text-align: right; padding-right: 20px;">
                {% for reaction in text.reactions %}
                    <span>{{reaction.icon}}</span>
                {% endfor %}
                </div>
            {%endif%}{% endif %}
        {% endfor %}
    {% endif %}</div>
    <form action="/chat/add-text/{{id}}" method="POST" id="form" onsubmit="sendmessage()">
        <label>Enter text: </label>
        <input type="text" name="text" id="message">
        <button id="submit" type="submit">&spades;</button>
    </form>
</div></body>
</html>