<!DOCTYPE html>
<html>
    <head>
        <title>dashboard - {{name}}</title>
    </head>
<body style="background-color: black; color: white">
    <div id="content">
        <h1>Hello {{name}}! You have {{points}} points </h1>
        {% if ask %}
        <p>Please check your emails and validate your account from a link sent to you by drive1.banerjee.armaan@outlook.com</p>
        {% endif %}
        <h2>Notifications: <button style="text-align:rightl"><a href="/user/notification/allread/{{id}}">mark all as read</a></button></h2>
        {% if notifications %}
        <div style="max-height: 150px; scroll: auto; background-color: grey; border-radius: 25px; padding-left: 20px; overflow:auto;">
        {% for notification in notifications %}
            {% if notification.read == False %}
                <p><span style="text-align: left;">{{notification.timestamp}} | {{notification.text | safe}}<div style="text-align: right; display: inline;"><button><a href="/user/notification/markasread/{{notification.id}}">✅</a></button></div></span></p><hr>
            {% endif %}
        {% endfor %}
        </div>
        {% else %}
        <p>No notifications yet</p>
        {% endif %}
        <h2>Settings <a style="color: yellow;" href="/users/edit/{{id}}">edit</a></h2>
        <div style="background-color: green; border-radius: 25px; padding-left: 20px;">
        <p>Your email is {{email}}</p>
        <p>You joined at {{joined}}</p>
        <p>you have {{points}} points</p>
        </div>
        <h2>Comments: </h2>
        {% if comments %}
        <hr>
        {% for comment , blog in comments %}
            <div style="background-color: blue; border-radius: 25px; padding-left: 20px;">
            <p>You posted as {{comment.author}} at {{comment.timestamp}} on <a style="color: green;" href="/blogs/views/{{blog.title}}">{{blog.title}}</a>:</p> 
            <p>{{comment.text}}</p>
            <p>It gave you {{comment.likes - comment.dislikes}} points ({{comment.likes}} likes, {{comment.dislikes}} dislikes)</p>
            <hr>
            </div>
        {% endfor %}
        {% else %}
        <p>No comments yet</p>
        {% endif %}
        <h2>Posts:</h2>
        {% for post in posts%}
        <div style="background-color: blue; border-radius: 25px; padding-left: 20px;"><p> You posted : <a style="color: green;" href="/community/view/{{post.title}}">{{post.title}}</a></p><p>It gave you {{post.likes - post.dislikes}} points ({{post.likes}} likes | {{post.dislikes}} dislikes)</p></div>
        {% endfor %}
        <h2>Awnsers: </h2>
        {% for awnser in awnsers %}
        <div style="background-color: blue; border-radius: 25px; padding-left: 20px;"><p> You awnsered <a style="color: green;" href="/community/views/{{awnser.post_id}}#{{awnser.title}}">{{awnser.title}}</a> as {{awnser.author}}</p><p> It gave you {{awnser.likes - awnser.dislikes}} points ({{awnser.likes}} likes | {{awnser.dislikes}} dislikes)</div>
        {% endfor %}
        <h2>Bookmarks</h2>
        {% for bookmark , blog in bookmarks %}
        <p><a style="color: green;" href="/blogs/views/{{blog}}">{{blog}}</a> | {{ bookmark.note }}</p>
        {% endfor %}
        <hr>
        <a style="color: green;" href="/users/delete/{{id}}">delete</a>
    </div>
</body>