<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="Ctru1aC3B-AQA3qEPhSm8xcYPIh4MFwG0xUZutTcY1M" />
		<meta title="home- my random website">
    </head>
    <body style="background-color: red">
        <!-- <div style="background-color: black; color: white;"><h1>The queen has died at the age of 96</h1><div style="display: flex;"><div style="flex: 1;"><img src="https://media.gettyimages.com/photos/queen-elizabeth-ii-tours-queen-mother-square-on-october-27-2016-in-picture-id618569182?s=612x612"></div><div><img src="https://www.heart.co.uk/images/elizabeth_large.jpg"></div></div></div> -->
        <p>Hi there</p>
        <div style="width:100%;height:0;padding-bottom:62%;position:relative;"><iframe src="https://giphy.com/embed/XO8RMtRaK73isIt0i2" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        <p>Hello there arnd welcome</p>
        <a href="./snakegame.html">Want to play some snake?</a>
        <p>I also have an api</p>
        <a href="/api/news/bbc/top">An example</a>
    </body>
</html>
