<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: blue;">
        <div style="background-color: beige;font-size: large;">
            <p>The periodic table is a useful way to group elements</p>
            <p>It has many useful properties</p>
            <ul>
                <li>In the groups of the non transition metals, it tells you the number of electrons in the outer shell, this is useful as it can show you the charge of any ion it forms</li>
                <li>Elements in <a href="#groups">groups</a>also share similar chemical properties, for example group 1 reacts vigourously with water</li>
                <li>Elements in a periodic table show a trend across a period</li>
            </ul>
            <p id="groups">A group is a column in the periodic table</p>
        </div>
    </body>
</html>