<!DOCTYPE html>
<html>
    <body>
        <div id="timeCont">
            <div id="timeDisp" style="font-size: 40">00:00:00:000</div>
            <button id="Start">Start</button>
            <button id="Pause">Pause</button>
            <button id="Reset">Reset</button>
        </div>
        <script>
            const timeDisp = document.querySelector("#timeDisp")
            const start = document.querySelector("#Start")
            const Pause = document.querySelector("#Pause")
            const Reset = document.querySelector("#Reset")

            let starttime = 0;
            let elapsedtime = 0;
            let currenttime = 0;
            let paused = true;
            let intervalid;
            let hrs = 0;
            let mins = 0;
            let secs = 0;
            let milis = 0;

            start.addEventListener("click", () => {
                if (paused){
                    paused = false;
                    starttime = Date.now() - elapsedtime
                    intervalid = setInterval(updatetime, 80)
                }
            })
            Pause.addEventListener("click", () => {
                if(!paused){
                    paused = true;
                    elapsedtime = Date.now() - starttime
                    clearInterval(intervalid)
                }
            })
            Reset.addEventListener("click", () => {
                paused = true;
                starttime = 0;
                elapsedtime = 0;
                currenttime = 0;
                hrs = 0;
                mins = 0;
                secs = 0;
                milis = 0;
                timeDisp.textContent = "00:00:00:000";
            })

            function updatetime(){
                elapsedtime = Date.now() - starttime
                milis = elapsedtime % 1000
                secs = Math.floor((elapsedtime / 1000) % 60)
                mins = Math.floor((elapsedtime / (1000*60)) % 60)
                hrs = Math.floor((elapsedtime / (1000*60*60)) % 60)

                milis = pad(milis)
                secs = pad(secs)
                mins = pad(mins)
                hrs = pad(hrs)
                timeDisp.textContent = `${hrs}:${mins}:${secs}:${milis}`

                function pad(unit){
                    return (("0") + unit).length > 2 ? unit : "0" + unit
                }
            }
        </script>
    </body>
</html>